{% extends "base.html" %}
{% block content %}

<div class="container" style="margin-bottom:20px; box-shadow:0 0 10px #BDC3C7; border-radius:0;padding:20px">
	<div class="row">
		<div class="col-md-3">
			<div>
				<img src="/static/pic/me.png" style="width:100%; height:100%;">
			</div>
			<div style="margin-top:20px">
				<p style="font-size:18px;"><strong>个人信息</strong></p>
				<p class="glyphicon glyphicon-user"><strong>姓名:</strong>程伟滨</p><br>
				<p class="glyphicon glyphicon-map-marker"><strong>居住地:</strong>广州</p><br>
				<p class="glyphicon glyphicon-wrench"><strong>职位:</strong>运营商网络维护工程师</p><br>
				<p class="glyphicon glyphicon-envelope"><strong>E-mail:</strong>chengwb@189.cn</p><br>
			</div>
			<div style="margin-top:20px">
				<p style="font-size:18px;"><strong>项目</strong></p>
				<p class="glyphicon glyphicon-paperclip"><strong>该网站源代码:<br></strong>https://github.com/BonjourChen/myBlog</p><br>
				<p class="glyphicon glyphicon-paperclip"><strong>GITHUB:<br></strong>https://github.com/BonjourChen</p><br>
			</div>
		</div>
		<div class="col-md-9" style="padding-left:40px">
			<div>
				<audio src="http://music.163.com/#/m/song?id=26624703" preload="auto"></audio>
			</div>
			<div style="margin-top:20px;">
				<p>You could run the mile
				<p>尽力跑完这段路程</p>
				<p>You could walk straight through hell with a smile</p>
				<p>就这算段路程艰辛，你要披荆斩棘的通过它</p>
				<p>You could be the hero</p>
				<p>你要当个英雄</p>
				<p>You could get the gold</p>
				<p>你可以得到任何珍贵的事物</p>
				<p>Breaking all the records that thought never could be broke</p>
				<p>打破任何世人认为不可能被打破的纪录</p>
				<p>Do it for your people</p>
				<p>为了自己放手的去做吧</p>
				<p>Do it for your pride</p>
				<p>为了荣耀放手的去做吧</p>
				<p>Never gonna know if you never even try</p>
				<p>不去尝试你永远不会知道结果</p>
				<p>Do it for your country</p>
				<p>为了你的国家放手的去做吧</p>
				<p>Do it for you name</p>
				<p>为了你的名声放手的去做吧</p>
				<p>Cause there's gonna be a day</p>
				<p>一切都值得的</p>
				<p>When your, standing in the hall of fame</p>
				<p>当你荣登名人堂，占有一席之地</p>
				<p>And the world's gonna know your name</p>
				<p>让全世界都知道你的名字</p>
				<p>Cause you burn with the brightest flame</p>
				<p>因为你散发着最耀眼的光芒</p>
				<p>And the world's gonna know your name</p>
				<p>让全世界都知道你的名字</p>
				<p>And you'll be on the walls of the hall of fame</p>
				<p>你将会在名人堂占有一席之地</p>
				<p>Be a champion</p>
				<p>做一个为了荣耀而战的战士</p>
				<p>Be a champion</p>
				<p>做一个为了荣耀而战的战士</p>
				<p>Be a champion</p>
				<p>做一个为了荣耀而战的战士</p>
				<p>Be a champion</p>
				<p>做一个为了荣耀而战的战士</p>
				<p>On the walls of the hall of fame</p>
				<p>你将会在名人堂占有一席之地</p>
				<p>Be students,Be teachers Be politicians,Be preachers</p>
				<p>无论是当学生 当老师 当政治人物 或是当牧师</p>
				<p>Be believers,Be leaders</p>
				<p>无论是当信徒 当领导者</p>
				<p>Be astronauts,Be champions,Be true seekers</p>
				<p>当航天员 当战士 做真实的自己</p>
				<p>Be students,Be teachers Be politicians,Be preachers</p>
				<p>无论是当学生 当老师 当政治人物 或是当牧师</p>
				<p>Be believers,Be leaders Be astronauts,Be champions</p>
				<p>无论是当信徒 当领导者 当航天员 当战士</p>
				<p>Standing in the hall of fame</p>
				<p>令自己可以在名人堂占有一席之地</p>
				<p>And the world's gonna know your name</p>
				<p>让全世界都知道你的名字</p>
				<p>Cause you burn with the brightest flame</p>
				<p>因为你散发着最耀眼的光芒</p>
				<p>And the world's gonna know your name</p>
				<p>让全世界都知道你的名字</p>
				<p>And you'll be on the walls of the hall of fame</p>
				<p>你将会在名人堂占有一席之地</p>
				<p>Standing in the hall of fame.</p>
				<p>令自己可以在名人堂占有一席之地</p>
			</div>
		</div>
	</div>
</div>

{% endblock %}