<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}{% endblock %} Bonjour's Blog</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='flat-ui/css/flat-ui.min.css') }}">
	<script type="text/javascript" src="{{ url_for('static',filename='jquery.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static',filename='bootstrap/js/bootstrap.min.js') }}"></script>
</head>

<script type="text/javascript">
$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<body style="background-color:#ECF0F1">
	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
				</button>
				<a class="navbar-brand" href="#">BONJOUR!</a>
			</div>
			<div class="collapse navbar-collapse" id="navbar-collapse-1">
				<ul class="nav navbar-nav clearfix">
					<li><a href="#">CATEGORY</a></li>
					<li><a href="#">ABOUTME</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					{% if current_user.is_authenticated %}
					<li><a href="{{ url_for('.404') }}">SIGN OUT</a></li>
					{% else %}
					<li><a href="{{ url_for('.login') }}">SIGN IN</a></li>
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>

	{% block body%}
	{% endblock %}

	<div style="background:#34495E;color:#ECF0F1;position: fixed;bottom: 0;width: 100%">
		<div class="container"> 
			<div class="row" style="padding-top:20px;">
				<div class="col-md-7">
					<p><h4><strong>Keep Studying.</h4></strong></p>
				</div>
				<div class="col-md-5">
				</div>
				<div class="col-md-12">
				<p> <small>© COPYRIGHT BY BONJOURCHEN 2016</small></p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>