{% extends "base.html" %}
{% block title %}
MYBLOG
{% endblock %}
{% block body %}
{% import "_macros.html" as macro %}

<div>
<p>123</p>
<p>123</p>
<p>123</p>
<p>123</p>
<p>123</p>
<p>123</p>
<p>123</p>
<p>123</p>
<p>123</p>
<p>123</p>
<p>123</p><p>123</p>
<p>123</p>

<p>123</p>
<p>123</p>
<p>123</p>
<p>123</p>
<p>123</p>
<p>123</p>
<p>123</p>
<p>123</p>

<p>123</p>
<p>123</p>
<p>123</p><p>123</p>
<p>123</p>
<p>123</p>
<p>123</p>

<p>123</p>
<p>123</p>
<p>123</p>
<p>123</p>
<p>123</p>
<p>123</p>
<p>123</p><p>123</p>
<p>123</p>

	{% if pagination %}
	{{ macro.pagination_widget(pagination,'.index') }}	
    {% endif %}
</div>
{% endblock %}