{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block body %}
<div style="box-shadow:0 0 10px #BDC3C7;border-radius:0" class="login-form col-md-4 col-md-offset-4">
<form method="POST">
  <label><strong><h3>SIGN IN</h3></strong></label>
  <div class="form-group">
    {{form.username(placeholder="Username",class="form-control login-field")}}
    <label class="login-field-icon fui-user" for="username"></label>
  </div>
  <div class="form-group">
    {{form.password(placeholder="Password",class="form-control login-field")}}
    <label class="login-field-icon fui-lock" for="password"></label>
  </div>
  <div>
    {{ form.remember_me()}}
    <label> Keep me logged in</label>
  </div>
  {{ form.submit(class="btn btn-primary btn-block")}}
  {% with mess=get_flashed_messages() %}
  {% if mess%}}
    <ul>{{ mess[0] }}</ul>>
  {% endif %}
  {% endwith %}
</form>
</div>
{% endblock %}

<!--     <input name="username" type="text" class="form-control login-field" value="" placeholder="Username" id="username" /> -->
<!--     <input name="password" type="password" class="form-control login-field" value="" placeholder="Password" id="password" /> -->