{% extends "base.html" %}

{% block content %}
<div id="wrap"  id="main" style="box-shadow:0 0 10px #BDC3C7;border-radius:0" class="login-form col-md-4 col-md-offset-4 clearfix">
<form action="" method="POST" name="login">
  {{form.hidden_tag()}}
  <label><strong><h3>SIGN IN</h3></strong></label>
  <div class="form-group">
    {{form.username(placeholder="Username",class="form-control login-field")}}
    <label class="login-field-icon fui-user" for="username"></label>
  </div>
  <div class="form-group">
    {{form.password(placeholder="Password",class="form-control login-field")}}
    <label class="login-field-icon fui-lock" for="password"></label>
  </div>
  <div>
    {{ form.remember_me()}}
    <label> Keep me logged in</label>
  </div>
  {{ form.submit(class="btn btn-primary btn-block")}}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
        <p style="color:red;font-size:5px;">{{message}}</p>
    {% endfor %}
    {% endif %}
  {% endwith %}
</form>
</div>
{% endblock %}