{% extends  "base.html" %}

{% block title %}
{{ post.title }}
{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-12" style="box-shadow:0 0 10px #BDC3C7; border-radius:0;padding:20px">
			<div>
				<h3 style="color:#34495E">{{ post.title }}</h3>
			</div>
			<p> Tags:
				{% if post.tags %}
				{% for i in post.tags.split(',') %}
				{{ i }}
				{% endfor %}
				{% endif %}
				<small style="float:right"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span><span style="color:#8C8C8C">{{ post.timestamp }}</span></small>
			</p>
			<div class="post-alert">本博客采用创作共用版权协议, 要求署名、非商业用途和保持一致. 转载本博客文章必须也遵循署名-非商业用途-保持一致的创作共用协议</div>
			<div style="margin-top:10px">
				{{ post.body_html | safe }}
			</div>
			<hr style="border:1px dashed #0000fff"/>
			<a href="#"><span class="button button-rounded button-tiny"><span class="glyphicon glyphicon glyphicon-fire" aria-hidden="true"></span>{{ post.category }}</span></a>
		</div>
	</div>
</div>
{% endblock %}